html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")


    //- link(rel='stylesheet', href='/bootstrap/distcss/bootstrap.min.css')
    //- link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/pricing.css')
    //- link(rel='stylesheet', href='/bootstrap/scss/utilities/_spacing.scss')
    //- link(rel='stylesheet', href='/bootstrap/scss/_root.scss')
    //- link(rel='stylesheet', href='/bootstrap/scss/_reboot.scss')
    //- link(rel='stylesheet', href='/bootstrap/scss/utilities/_text.scss')
    //- link(rel='stylesheet', href='/bootstrap/scss/_card.scss')
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    //- script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content